@import './fonts';
@import './vars';

// Pages
@import './main';

// Media Query
@import './media';

*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-weight: normal;
}

a{
    text-decoration: none;
}

body{
    overflow-x: hidden;
    font-family: $roboto_regular;
}

